@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  padding-left: 12px;
  padding-top: 12px;
  background-color: #ffffff;
  width: 100%;
  padding: 12px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 31px;
  width: 31px;
  margin-top: 12px;
}
.title {
  font-family: Chivo, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #716966;
  text-decoration: none;
  margin-left: 80px;
}
.settings-icons {
  margin-left: 75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Chivo;
}

.navigation {
  padding: 12px 20px;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts {
  width: 34px;
  height: 42px;
  top: 95px;
  left: 20px;
}
.gallery {
  width: 27px;
  height: 40.5px;
  top: 97px;
  margin-left: 10px;
}
.maps {
  width: 17px;
  height: 40.75px;
  margin-left: 20px;
}
.shortlisted {
  width: 42px;
  height: 46px;
}
.sort {
  width: 31px;
  height: 44px;
}
.list {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.listing1 {
  padding: 10px 20px;
  max-width: 380px;
  background-color: #fffcf2;
  margin-top: 8px;
}
.listing-title {
  font-family: Chivo;
  font-size: 18px;
  font-weight: 600;
}
.listing-rating {
  margin-top: 5px;
}
.listing-description {
  font-size: 10px;
  margin-top: 18px;
}
.listing-history {
  padding-top: 30px;
  max-width: 200px;
}
.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}
.names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 400;
}
.listing-contact {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.sidebar {
  margin-left: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-left: 20px;
}

.sidebar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #444;
}

.sidebar img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
.line {
  width: 1px;
  margin-top: 5px;
}
.listing2 {
  padding: 10px 20px;
  max-width: 380px;
  margin-top: 20px;
}
